APP_HOST=localhost
APP_PORT=3000

SALT_HASH=
JWT_SECRET=

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

REDIS_HOST=localhost

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
S3_ENDPOINT=